
<footer class="site-footer">
  <% if (config.rss || config.feed) {  %>
  <a class="subscribe icon-feed" href="<%= url_for(config.rss || config.feed.path) %>"><span class="tooltip">Subscribe!</span></a>
  <% } %>
  <div class="inner">
     <p>Made with
       <span class="heart-icon">&hearts;</span>by&nbsp;
       <a href="https://github.com/marionettejs/marionettejs.com/graphs/contributors" target="_blank">all of us</a>
     </p>
  </div>
</footer>